*{
    font-family: sans-serif;
}

body {
    background-color: white;

}

/* navbar */

#navbar {
    background: rgb(231, 230, 230);
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    border: black;
    border-radius: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    position: sticky;
    top: 0;
}

img {
    width: 10%;
    height: 10%;
}


.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}



.logo a {
    text-decoration: none;
    font-size: x-large;
    text-align: center;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    color: white;
}


li {
    list-style: none;
    display: inline-block;

}

li a {
    color: rgb(0, 116, 218);
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
    text-shadow: 0 0 3px #000000;
}
/* article */
#front {


    padding-right: 25%;
    padding-left: 25%;

}

#front div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.gaza {
    width: 80%;
    height: 120%;

}

h2{
    font-size: 250%;
}

p{
    font-size:150%;
}

.war{
    height: 120%;
    width: 80%;

}
/* wo box jahan copyright aur trademark lagaya jata ha */
.down{
    
    background-color: black;
}

.down p {
    color: white;
    font-size: 200%;
    text-align: center;
}