* {
    font-family: serif;
}

body {
    background-color: rgb(255, 255, 255);

}

/* navbar */

#navbar {
    background: rgb(0,173,190);
background: linear-gradient(270deg, rgba(0,173,190,1) 18%, rgba(0,0,0,1) 60%);
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    border: black;
    border-radius: 20px, solid;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    position: sticky;
    top: 1px;
    opacity: 90%;
}

/* navbar image */
img {
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;

}


.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.navdiv .list {
    display: flex;
}


/* menubar in navbar */

li {
    list-style: none;
    display: inline-block;

}

li a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
    text-shadow: 0 0 3px #000000;
    position: relative;

}

li a:hover {
    background-color: rgb(0, 0, 0);
    /* text-transform: uppercase; */

}

/* Dropdown Button */
.dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
    text-shadow: 0 0 3px #000000;
    position: relative;
    border: none;
    background: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00a8fc;
    min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #00a8fc;
}



/* paragraph article */
#front {

    padding-left: 5%;
    padding-right: 5%;



}

#front div {
    background-color: rgb(255, 255, 255);
    /* text-align: center; */
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

h2 {
    font-size: 250%;
}

p {
    font-size: 150%;
}

/* new page news link */
#down-menu {
    background-color: white;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#down-menu div {
    margin-top: 10%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    /* text-align: center; */
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* border: black,12px;
     border-style: solid; */
    width: 250px;
    background-color: rgb(0, 200, 255);

}



#down-menu div img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    height: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.news-bar {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

/* wo box jahan copyright aur trademark lagaya jata ha */
.down {

    background-color: black;
}

.down p {
    color: white;
    font-size: 200%;
    text-align: center;
}